
/* Sobreescribimos la fuente de todo el sitio */
* {
    font-family: "Heebo", sans-serif;;
}

#encabezado, #pie-de-pagina {

    background-color: indigo;
    color: ghostwhite;

}

footer a {
    color: ghostwhite;
    text-decoration: none;
}

footer a:hover {
    color: lightgray;
}

div a {
    text-decoration: none;
}

div a:hover {
    color:  lightblue;
}

#miga-de-pan {
    background-color: plum;
}

li a {
    text-decoration: none;
}

li a:hover {
    color:  orchid;
}
